@import "./theme.scss";
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  overflow-x: hidden;
}
ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
hr {
  border: 0;
  width: 90%;
  border-top: 0.5px solid white;
}
.header {
  height: 100vh;
  background: #54b689;
  color: #fff;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.2) #54b689;
  scrollbar-width: thin;
}
.btn {
  font-weight: bold;
  height: 2.5rem;
  transition: all 0.4s ease-in-out;
  font-size: 1rem;
}
.sidenav {
  height: 0;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav-open {
  height: auto;
  width: 100vw;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $primary;
  overflow-x: hidden;
  transition: 0.5s;
}
.bio {
  font-size: 0.875rem;
}
.social-list li {
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 2px;
  margin-left: 3px;
}
.profile-teaser {
  color: #292929;
}
.profile-teaser .name {
  font-size: 3rem;
}
.profile-teaser .designation {
  font-size: 1.5rem;
  font-weight: 300;
}
.bio {
  font-size: 1rem;
  font-weight: 300;
}
.section-title {
  font-size: 2rem;
  color: #292929;
  border-left: 5px solid $primary;
}
.theme-bg-light {
  background: #fafafa !important;
}
.skill-icon {
  font-size: 1.875rem;
}
.skill-icon img {
  width: 1.875rem;
  height: 1.875rem;
}
.skill-title {
  font-size: 1rem;
  font-weight: bold;
}
.skill-desc {
  color: #4f4f4f;
  font-size: 0.875rem;
}
.menu-item {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}
.menu-item:hover {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-nav .active {
  color: rgba(0, 0, 0, 0.5);
}
.toast-success {
  background-color: $primary;
  color: white;
  font-size: medium;
}
.toast-error {
  background-color: red;
  color: white;
  font-size: medium;
}
.footer {
  position: absolute;
  bottom: 20px;
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
}

//media queries
@media (max-width: 991.98px) {
  .header {
    height: auto;
  }
  .profile-teaser .name {
    font-size: 2.4rem;
  }
}
