
$primary: #54B689;
$secondary:#4f4f4f;
$theme-colors : (
    "info": tomato,
    "danger": teal,
    "primary":$primary,
    "secondary":$secondary,
    "light":#434343,
   "dark":#c2c2c2
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";